body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000000;
}

/* HEADER */

.header{
  border-bottom: 3px solid #32b9cd;
}

.container{
  display: flex;

  width: 80%;
  margin: auto;
}

.header .container{
  justify-content: space-between;
}

.titulo{
  color: #32b9cd;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 300px;

  list-style: none;
  color: #e3b062;
}

.navbar a{
  text-decoration: none;
  color: #e3b062;
  cursor: pointer;
}


/* BANNER */

.banner{
  padding: 40px 20px 30px 10px;
  color: #fff;
  height: 400px;
  background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
}

.banner .container{
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p{
  font-size: 36px;
  width: 25%;
}

.banner .container p span{
  font-weight: bold;
}

.social{
  background-color: #fff;
  padding: 40px 0;
}

.social .container{
  justify-content: space-between;
}

.card{
  width: 150px;
  text-align: center;

  border: 5px solid black;
  padding: 20px 50px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card img{
  width: 100%;
}

.card h4{
  font-size: 24px;
}


/* FOOTER */

.footer{
  height: 100px;
  background-color: #32b9cd;
}

.footer .container{
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer .container p{
  font-weight: bold;
}

/* LOGIN */

.login .container{
  justify-content: center;
  background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
  background-size: cover;
  height: 75vh;
  align-items: center;
}

.login .container .card{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border-radius: 7px;
  border-color: palevioletred;
}

.card h2{
  color: palevioletred;
}

.campo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card span{
  color: chartreuse;
}

.campo input{
  width: 250px;
  height: 30px;
  padding: 7px 15px;
  border: 2px solid #32b9cd;
  border-radius: 13px;
  text-align: center;
}

.formulario button{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: palevioletred;
  color: #fff;
  transition: .4s ease-in-out;
  border: none;
  cursor: wait;
}

.formulario button:hover{
  background-color: chartreuse;
}

.agora{
  font-weight: 800;
}